
<h1 class="Profile__banner">Welcome to <%= animal.name %>'s Profile! </h1>
<div class="Pet__profileGridContainer">
    <div class="Pet__grid1">
                <div class="row">
                    <div class="card-header animal-card-header">
                        <h3 class="card-title"><%= animal.name %> </h3>
                        <% if(animal.photos.length > 0 && animal.primary_photo_cropped !== null){ %>
                            <div class="mx-auto">
                                <img src=<%= animal.primary_photo_cropped.small %> alt="petImg" id="images" class="card-img-top justify-content-center m-3">
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                    <div class="Pet__grid2">
                        <p class="text-secondary">Organization Id# <%= animal.organization_id %> </p>
                        <p class="text-secondary" name="animalID"> Pet id# <%= animal.id %> </p>
                        <p class="text-secondary"> <%= animal.contact.address.state %>, <%= animal.contact.address.postcode %> </p>
                        <p>Status: <%= animal.status %> </p>
                        <p>Animal Type: <%= animal.type %> </p>
                        <p>Age: <%= animal.age %> </p>
                        <p>Description: <%= animal.description %> </p>
                        <h4>Contact info</h4>
                        <p><%= animal.contact.email %> </p>
                        <p><%= animal.contact.phone %> </p>
                        <p><%= animal.contact.address[0] %> </p>
                    </div>
                    <div class="Pet__grid3">
                        <h4>Contact Shelter About <%= animal.name %>! -></h4>
                    </div>
                    <div class="Pet__grid4">
                        <form method="POST" action="./contact" id="animalId">
                            <input value=<%=animal.contact.email %> type="text" hidden>
                            <button name="animalId" type="submit" class="Contact__shelter" value=<%=animal.id%>>Contact Shelter</button>
                        </form>
                    </div>
                </div>

