<h1>Your Favorites!</h1>
<div class="Favorites__each">
    <% let count = 1; %>
    <% Favorites.forEach(Fav => { %>
        <% if (Fav.userId == currentUser.id){ %> 
    <div class="card-column-fluid col-sm-2 mx-auto">
        <div class="Each__fav">
            <div class="card-body fav-card-body">
                        <%= count; %>  
                        <h2 class="Fav__id"><%= Fav.petId %> </h2>
                        <% count = count + 1; %> 
                    <h2 class="Fav__name"><%= Fav.name %> </h2>
                    <form method="POST" action="/search/animal" id="animalId" class=" animalId m-2">
                        <button name="animalId" type="submit" class=" btn btn3" value=<%=Fav.petId%>>More info</button>
                    </form>
    
                    <form action="/search/favorite/<%=Fav.petId%>?_method=DELETE" method="post">
                        <button type="submit" value="DELETE" class="btn btn-danger">Remove</button>
                    </form>
            </div>
        </div>
    </div>
    
    <% }}) %> 
</div>
