<img src="/assets/images/adoptions33.png" id="MainIMG" class="Results__main-img" alt=""> 
<div class="results-title">
    <h1>Results</h1>
</div>

<% if (!currentUser) { %>
    <div class="results__gridNo">
        <% let each = 1; %> 
        <% animals.forEach(animal => { %>
            <% if (animal.photos.length > 0 && animal.primary_photo_cropped !== null) { %>
                <div class="No__userResults">
                    <div class="Results__no">
                        <div id="SmallImagesDiv">
                            <img src=<%= animal.primary_photo_cropped.small %> alt="petImg" id="SmallImages" class="Pet__image">
                        </div>
                        <div>
                            <h5 class="card-title"> Name: <%= animal.name %> </h5>
                            <p class="Results__text">Animal Type: <%= animal.type %> </p>
                            <p class="Results__text">State: <%= animal.contact.address.state %>, <%= animal.contact.address.postcode %></p>
                            <ul class="list-group">
                                <li class="list-group-item">Status: <%= animal.status %> </li>
                            </ul>
                            <a href="/auth/signup" class="more__infoNo">For more info on <%=animal.name %> sign up here!! </a>
                        </div>
                    </div>
                </div>
            <% } %>
        <% }) %>
        <% animals.forEach(animal => { %>
            <% if (animal.photos.length == 0 || animal.primary_photo_cropped == null) { %>
                <div class="No__userResults">
                    <div class="Results__no">
                        <div id="SmallImagesDiv">
                            <p>No photo available</p>
                        </div>
                        <div>
                            <h5 class="card-title"> Name: <%= animal.name %> </h5>
                            <p class="Results__text">Animal Type: <%= animal.type %> </p>
                            <p class="Results__text">State: <%= animal.contact.address.state %>, <%= animal.contact.address.postcode %></p>
                            <ul class="list-group">
                                <li class="list-group-item">Status: <%= animal.status %> </li>
                            </ul>
                            <a href="/auth/signup" class="btn btn-warning btn-block mt-2 m-3 ">For more info on <%=animal.name %> sign up here!! </a>
                        </div>
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>
    <% } else { %>
        <div class="results__grid">
            <% let animalsWithPhotos = [];
               let withoutPhotos = [];
               animals.forEach(animal => {
                   if(animal.photos.length > 0 && animal.primary_photo_cropped !== null) {
                       animalsWithPhotos.push(animal);
                   } else {
                       withoutPhotos.push(animal);
                   }
               });
               let each = 1; %>
               <% animalsWithPhotos.forEach(animal => { %>
                   <div class="text-align">
                       <div class="each__result">
                           <div>
                               <div class="Result__header">
                                   <h3 class="card-title"> Name: <%= animal.name %> </h3>
                               </div>
                               <div>
                                   <ul class="list-group">
                                       <li class="list-group-item">Status: <%= animal.status %> </li>
                                   </ul>
                                   <p class="Results__text">Animal Type: <%= animal.type %> </p>
                                   <p class="Results__text"> <%= animal.contact.address.state %>, <%= animal.contact.address.postcode %></p>
                               </div>
            
                               <div id="Animal__image">
                                   <img src="<%= animal.primary_photo_cropped.small %>" alt="petImg" class="Pet__image">
                               </div>
                               <div class="container">
                                   <form method="POST" action="./animal" id="animalId" class="m-2">
                                       <button name="animalId" type="submit" class="More__info" value="<%=animal.id%>">More info on <%= animal.name %> </button>
                                   </form>
            
                                   <form action="./favorite" method="post" id="favorite">
                                       <input type="text" value="<%= animal.id %>" name="petID"  hidden>
                                       <input type="text" value="<%= currentUser.id %>" name="userID"  hidden>
                                       <button type="submit" class="Add__favorite">Add to Favorites</button>
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
                   <% each++ %>
               <% }) %>
               <% withoutPhotos.forEach(animal => { %>
                <div class="text-align">
                    <div class="each__result">
                        <div>
                            <div class="Result__header">
                                <h3 class="card-title"> Name: <%= animal.name %> </h3>
                            </div>
                            <div>
                                <ul class="list-group">
                                    <li class="list-group-item">Status: <%= animal.status %> </li>
                                </ul>
                                <p class="Results__text">Animal Type: <%= animal.type %> </p>
                                <p class="Results__text"> <%= animal.contact.address.state %>, <%= animal.contact.address.postcode %></p>
                            </div>
                            <div id="Animal__image">
                                <img src="/assets/images/noImage.png" alt="no image found" class="Pet__image">
                                <% console.log('no photos'); %> 
                            </div>
                            <div class="container">
                                <form action="./favorite" method="post" id="favorite">
                                    <input type="text" value="<%= animal.id %>" name="petID"  hidden>
                                    <input type="text" value="<%= currentUser.id %>" name="userID"  hidden>
                                    <button type="submit" class="Add__favorite">Add to Favorites</button>
                                </form>
                                <form method="POST" action="./animal" id="animalId" class="m-2">
                                    <button name="animalId" type="submit" class="More__info" value="<%=animal.id%>">More info on <%= animal.name %> </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
<% } %>            
<div class="results-title">
    <h1>End Results</h1>
</div>
<div class="">
    <img src="/assets/images/dogsCutOut.png" id="MainIMG" class="img-fluid" alt=""> 

</div>
